/* General */
body {
    background: #0da2ff;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.show {
    display: block;
    color: #444;
    animation: fadeIn ease 0.7s;
    -webkit-animation: fadeIn ease 0.7s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.hide {
    display: none;
    animation: fadeOut ease 1s;
    -webkit-animation: fadeOut ease 1s;
}

@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

/* Main - Where player & comp moves populate */
.container {
    min-height: 300px;
    border-radius: 5px;
    background: white;
    color: #444;
}

h3 {
    margin-top: 50px;
}

#userMoveText, #compMoveText {
    margin-top: 20px;
}

/* Results */
#result-box {
    height: 100px;
    margin-bottom: 20px;
}

#result {
    text-align: center;
    font-size: 2em;
    color: white;
}

/* RPS Cards */
#directions {
    font-size: 24px;
}

.userChoiceCards {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    /* text-align: center; */
}

#rockCard, #paperCard, #scissorsCard {
    color: #444;
    /* background: #d2b6e5; */
}

#rockCard:hover, #paperCard:hover, #scissorsCard:hover {
    margin: 14px 10px 6px 10px;
    transition: 0.5s;
    background: #90ee90;
}

.rps-text {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin: 8px 0 0 0;
}